global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    log global

frontend vpn_in
    bind *:443
    default_backend openvpn_local

backend openvpn_local
    server ovpn 127.0.0.1:1194 check
