global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    log global

frontend vpn_in
    bind *:443
    default_backend openvpn_local

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

backend openvpn_local
    server ovpn openvpn:1194 check resolvers docker init-addr libc,none