client
dev tun
proto tcp
{% for node in nodes %}
remote {{ node.public_ip }} {{ node.vpn_port }}
{% endfor %}
remote-random
resolv-retry infinite
nobind
persist-key
persist-tun
cipher AES-256-GCM
verb 3
<ca>
{{ ca_cert }}
</ca>
<cert>
{{ client_cert }}
</cert>
<key>
{{ client_key }}
</key>
<tls-auth>
{{ ta_key }}
</tls-auth>
key-direction 1
