port 1194
proto tcp
dev tun
ca /data/pki/ca.crt
cert /data/pki/server.crt
key /data/pki/server.key
dh /data/pki/dh.pem
tls-auth /data/pki/ta.key 0
server {{ client_subnet_base }} {{ client_subnet_mask }}
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 8.8.8.8"
push "route {{ allowed_lan_base }} {{ allowed_lan_mask }}"
keepalive 10 30
cipher AES-256-GCM
user nobody
group nogroup
persist-key
persist-tun
status /data/openvpn/status.log
verb 3